.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 400px;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5px;
    outline: none;
    
    .title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    .buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    .textFields {
        display: flex;
        flex-direction: column;
        margin: 15px;

        > div {
            margin-top: 15px;
        }
    }
}